// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
  height: 100%;
  margin: 10;
  padding: 10;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#map-container-small {
  height: 50%;
  border-width: 10px;
}

#map-container-full {
  height: 100%;
  border-width: 10px;
}

#full_map {
  height: 89%;
}


#graph-partial {
  height: 100%;
}

#tide-graph {
  height: 41%;
}

#tide-graph-container {
  height: 100%;
}

#close-graph-container{
  float: right;
  margin-right: 20px;
}


#header {
  height: .3em;
  font-size: 13px;
  font-family: verdana;;
  letter-spacing: 2px;
  padding: 2em 1% 3em;
  background: #2c3e50;
  color: #fff;
  p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    color: white;
  };
};
